RewriteCond %{HTTP_HOST} !^joshsimmons\.com [NC]
RewriteRule ^(.*)$ https://joshsimmons.com/$1 [L,R=301]

RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]{2,4}
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1.html
