* {
    font-family: sans-serif;
}

body {
    background-size: cover;
    background-attachment: fixed;
}

body#talks,
body#media {
    background-image: url(img/bg/rainway.90.jpg);
}

body#home,
body#contact {
    background-image: url(img/bg/tassie.90.jpg);
}

header {
    box-shadow: 0px 0px 1em #333333;
    z-index: 10;
}

main {
    margin-top: 2em;
}

main .card + .card {
    margin-top: 1em;
}

#home h1 {
    font-size: 2rem;
}

#home h2 {
    font-size: 1.25rem;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
}

footer .card {
    background-color: rgba(1,1,1,.5);
    color: #ffffff;
}

footer .card p {
    text-align: right;
    margin-bottom: 0;
}

footer .card p a {
    color: #ffffff;
}