* {
    font-family: sans-serif;
}

.circle {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 0px 1em #333333;
}

.circle:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.fill {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
}