* {
    font-family: sans-serif;
}

header {
    box-shadow: 0px 0px 1em #333333;
    z-index: 10;
}

body {
    background-image: url(img/tassie.84.jpg);
    background-size: cover;
    background-attachment: fixed;
}